<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="forestj.mapper.WeatherMapper">
    <resultMap id="weather" type="Weather">
        <id property="cityName" column="city_name"/>
        <id property="date" column="date"/>
    </resultMap>
    <select id="getWeatherByName" resultType="weather">
        select * from weather where city_name like CONCAT('%',#{name},'%')
    </select>

    <insert id="updateWeather" parameterType="weather">
        INSERT INTO `weather`(`city_name`,`date`,dayweather,daytemp,daywind,daypower,nightweather,nighttemp,nightwind,nightpower)
        VALUES(#{cityName},#{date},#{dayweather},#{daytemp},#{daywind},#{daypower},#{nightweather},#{nighttemp},#{nightwind},#{nightpower})
        ON DUPLICATE KEY
        UPDATE dayweather=#{dayweather},daytemp=#{daytemp},daywind=#{daywind},daypower=#{daypower},nightweather=#{nightweather},nighttemp=#{nighttemp},nightwind=#{nightwind},nightpower=#{nightpower};
    </insert>

    <delete id="deleteOverdueWeather">
        delete from weather where `date` &lt; #{date}
    </delete>
</mapper>